[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.5"


[packages]

six = "~=1.11.0"
attrs = "~=17.4.0"


[dev-packages]

pytest = "~=3.4.1"
testtools = "~=2.3.0"
"flake8" = "~=3.5.0"
